<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- javascript ajax call on submit -->
    <script type="text/javascript" src="javascript.js"></script>

    <link rel="stylesheet" type="text/css" href="styles.css">

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }


    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Page Content -->
    <div class="container" style="max-width: 600px">

    <!-- Logo -->
        <div class="row" style="align:middle">
            <div class="col-md-2">
              <img id="plane-img" src="paper-plane.png" style="width: 60 px; height: 60px; margin: 0;" class="img-responsive"> </img>
            </div>
            <div class="col-md-4 text-center">
                <h2>Flight Time</h2>
            </div>
        </div>

        <div class="row text-center">
          <p>We calculate so you can be lazy af! Woo!</p>
        </div>
        <!-- /.row -->

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Find your estimated waiting </h3>
          </div>

          <form action="/result" method="POST" id="flightform">

            <!-- Panel Body --> <!-- Flight Information (First div class) -->
          <div class="panel-body">
              <div class="form-group row">
                <div class="col-xs-6">
                  <label for="flightnum" class="col-form-label">Flight Identification Number</label>
                  <input class="form-control" type="text" value="1986" name="flightnum">
                </div>
                <div class="col-xs-6">
                  <label for="flightdate" class="col-form-label">Date of Origin Flight</label>
                  <input class="form-control" type="text" value="2016-09-09" name="flightdate">
                </div>
              </div>

              <!-- Location -->
              <div class="form-group row">
                <div class="col-xs-6">
                  <label for="loc-end-id" class="col-form-label">My Location</label>
                  <input class="form-control" type="location" value="Georgia Tech" id="loc-end-id">
                </div>
                <div class="col-xs-6">
                  <button type="button" class="btn btn-default btn-md"  style="margin-top:25px;">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Current Location
                  </button>
                </div>
              </div>
          </div>

          <!-- Submit -->
          <div class="panel-footer" style="alight">
              <button type="button" name="submit" id="submit" class="btn btn-primary">
                Submit
              </button>
          </div>
          </form>
        </div>

        <div id="result-panel"></div>

        <div id="spinner-div" style="visibility:hidden;">
          <img src="/img/spinner.gif" id="spinner" align="middle"
          style="width:40px;heigh40px;display:block;margin:0 auto;margin-top:40px;">
        </div>

        <!-- Second Panel --> <!--Trip Outlook -->
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Trip Outlook</h3>
          </div>
          <div class="panel-body">
            <form>
              <!-- Time -->
            <div class="form-group row">
              <div class="col-xs-6">
            <input type="time" id="time" value="5:53:05"/>
            </div>
            </div>

            <div class="form-group row" style="margin: 0 auto">
            <button type="button" name="incTime" id="incTime" class="btn btn-primary">+</button>
            <button type="button" name="decTime" id="decTime" class="btn btn-primary">-</button>
            </div>
            </form>
          </div>
        </div>


<!-- Icon credit -->
<a href="http://www.freepik.com/free-vector/airplane-silhouette_810230.htm">Icon image designed by Freepik</a>
</body>

</html>