<div class="panel panel-primary">
    <div class="panel-heading">Trip Planning for Flight <b>#<%=@num %></b></div>
    <div class="panel-body">
    <p>current TSA delay: <%= @data %></p>
    <p>depart code: <%= @departCode %></p>
    <p>depart city: <%= @departCity %></p>
    </div>
</div>