<div class="panel panel-default">
    <div class="panel-heading">Flight <%= @num %></div>
    <div class="panel-body">
    <p>current TSA delay: <%= @data %></p>
    <p>depart code: <%= @departCode %></p>
    <p>depart city: <%= @departCity %></p>
    </div>
</div>